@font-face {
  font-family: 'Poppins';
  src: local('Poppins'),
    url(./assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

html,
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4c531;
}

.text-sm {
  font-size: 16px;
}

.text-lg {
  font-size: 4em;
}
